/* Add screen styles below */

:root {
    --orange: #FF6600;
    --background: #F6F6EF;
    --dark-text: #070706;
    --light-text: #9D9D9B;
}

.header {
    background-color: var(--orange);
    width: 80%;
    margin: auto;
    display: flex;
    padding: 2px;
}

.logo {
    width: 20px;
    height: 20px;
    float: left;
    border: 2px solid #FFFFFF;
    margin-top: auto;
    margin-bottom: auto;
}

.header h1, ul, h4 {
    font-family: sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}

.header h1 {
    font-weight: bolder;
    font-size: 18px;
    padding-left: 4px;
    margin-top: auto;
    margin-bottom: auto;
}

.header ul {
    list-style-type: none;
    font-size: 16px;
    padding-left: 2px;
}

.header li {
    display: inline-block;
    flex-grow: 4;
}

.header li:before {
    content: ' | ';
    padding: 5px;
}

.header li:first-child:before {
    content: ' ';
}

.login {
    font-size: 16px;
    font-weight: bold;
}


.content {
    background-color: var(--background);
    font-family: sans-serif;
    width: 80%;
    margin: auto;
    display: flex;
}

.content img {
    width: 10px;
    height: 10px;
    float: left;
    margin: 5px;
}

.content h2 {
    font-size: 16px;
    color: var(--dark-text);
    white-space: nowrap;
}

.content h3 {
    font-size: 16px;
    color: var(--light-text);
    display: inline;
}

.content p {
    font-size: 14px;
    color: var(--light-text);
}