/* Add screen styles below */

:root {
    --orange: #FF6600;
    --background: #F6F6EF;
    --dark-text: #070706;
    --light-text: #9D9D9B;
}

.header {
    background-color: var(--orange);
    width: 80%;
    margin: auto;
    display: flex;
    padding: 2px;
}

.logo {
    width: 20px;
    height: 20px;
    float: left;
    border: 2px solid #FFFFFF;
    margin-top: auto;
    margin-bottom: auto;
}

.header h1, ul, h4 {
    font-family: sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}

.header h1 {
    font-weight: bolder;
    font-size: 18px;
    padding-left: 4px;
    margin-top: auto;
    margin-bottom: auto;
}

.header ul {
    list-style-type: none;
    font-size: 16px;
    padding-left: 2px;
}

.header li {
    display: inline-block;
}

.header li:before {
    content: ' | ';
    padding: 5px;
}

.header li:first-child:before {
    content: ' ';
}

.login {
    font-size: 16px;
    font-weight: bold;
    margin-left: auto;
    align-self: flex-end;
}

/* Old Content Section! */

/*
.content {
    background-color: var(--background);
    font-family: sans-serif;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.content li {
    color: var(--light-text);
}


.content img {
    width: 10px;
    height: 10px;
    float: left;
    margin: 2px;
}

.content h2 {
    font-size: 14px;
    color: var(--dark-text);
}

.content h3 {
    font-size: 14px;
    color: var(--light-text);
}

.content p {
    font-size: 12px;
    color: var(--light-text);
}

*/

.content {
    background-color: var(--background);
    width: 80%;
    margin: auto;
    font-family: sans-serif;
    color: var(--light-text);
}

.content ol {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    padding: 10px 5px 0px 30px;
}

.title {
    display: inline-flex;
    align-items: center;
}

.content img {
    width: 10px;
    height: 10px;
    margin: 6px 4px auto 0px;
}

.content h2 {
    font-size: 16px;
    color: var(--dark-text);
    margin: 2px 2px 0px 2px;
}

.content h3 {
    font-size: 14px;
    font-weight: normal;
    margin: 2px 2px 0px 2px;
}

.details {
    font-size: 14px;
    text-align: left;
    margin: -8px 2px 0px 2px;
}